@import 'variables.scss', 'cart.scss', 'shop.scss', 'sidebar.scss', 'navbar.scss', 'home.scss';

* {
    margin: 0;
    padding: 0;
    cursor: url(../images/aero_arrow.cur), auto;
}

body {
    min-width: min-content;
    background-color: rgb(61, 61, 61);
    font-family: $normal-font;
}

#content {
    display: grid;
    grid-template-columns: clamp(160px, 20%, 210px) 2fr 1fr;
}

a {
    text-decoration: none;
    color: inherit;
}

.filter-bw {
    filter: invert(100%) sepia(15%) saturate(3941%) hue-rotate(186deg) brightness(113%) contrast(110%);
}