@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$header-font: 'Outfit', sans-serif;
$normal-font: Arial, sans-serif;

* {
    margin: 0;
    padding: 0;
    cursor: url(../images/aero_arrow.cur), auto;
}

body {
    background-color: rgb(61, 61, 61);
    font-family: $normal-font;
}

#root {
    width: 100%;
}

#NavBar {
    width: 100%;
    padding: 5px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: $header-font;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;

    .logo img{
      padding-left: 1rem;
      height: 50px;
    }

    .links {
      display: flex;
      gap: 1rem;
    }
}

#content {
    display: grid;
    grid-template-columns: clamp(160px, 20%, 210px) 2fr 1fr;
}

#Sidebar {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 8px 15px grey;
    border-bottom-right-radius: 1.3rem;

    form {
        margin: 10px;
        padding: 2px;
        border-radius: 1rem;
        max-width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(65, 65, 65);

        img {
            height: 1.5rem;
        }

        input {
            border: none;
            outline: none;
            padding-left: 5px;
            font-size: 0.9rem;
            max-width: 75%;
            background-color: inherit;
            color: white;
        }
    }

    .banner {
      padding: 10px;
      border-radius: 1rem;
    }

    button {
        cursor: url(../images/aero_move.cur), auto;
        font-family: $header-font;
        font-size: 1.5rem;
        text-align: left;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid gray;
        padding: 12px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 2rem;
        }

        &:hover {
            background-color: white;
            transition: 1000ms;
        }
    }
}

#shopContainer {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 220px;
    min-width: 150px;
    justify-content: space-between;
    align-items: center;
   
    .imageContainer {
        background: linear-gradient(180deg, rgb(94, 94, 94),white);
        border-radius: 10px;
        width: 100%;
        height: 40%;
        padding: 1.5rem 0;
        display: grid;
        justify-content: center;

        img {
            width: 80px;
            height: auto;
        }
    }

    .itemName {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
    }

    .itemPrice {
        font-size: 0.75rem;
        color: grey;
    }

    .buyBtn {
        background: linear-gradient(180deg, #a8c52f, #769509);
        border: 1px solid #93a94b;
        border-radius: 8px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        font-size: 1.2rem;
        padding: 3px 0;

        img {
            height: 1.5rem;
        }
    }
}

#shopCart {
    width: fit-content;
    height: fit-content;
    margin: 20px;
    padding: 10px;
    background-color: rgb(44, 44, 44);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    #cartTitle {
        padding-left: 1rem;
        font-size: 1.6rem;
        color: #a8c52f;
        font-family: $header-font;
        margin-bottom: 1rem;
    }

    #totalContainer {
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: space-around;
        margin: 1rem 2rem;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-family: $header-font;
    }
}

.cartItem {
    display: grid;
    min-width: max-content;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 10px;
    padding: 6px 0;
    background-color: #FFDEE9;
    background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);    
    font-size: 0.9rem;
    margin: 0 1rem;

    img {
        grid-row: 1 / 3;
        height: 80%;
        justify-self: center;
        align-self: center;
    }

    .cartName {
        font-weight: 600;
    }

    .priceContainer {
        grid-column: 2 / 4;
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: end;
        padding-right: 10px;

        .cartQuantity {
            grid-row: 1 / 3;
            align-self: center;

            button {
                height: 18px;
                width: 18px;
                margin: 0 5px;
            }
        }
        
        .cartTprice {
            grid-column: 2 / 3;
            font-weight: 600;
            color: rgb(212, 91, 20);
        }
    }
}

#cartCO {
    font-family: $header-font;
    padding: 4px 14px;
    border-radius: 1rem;
    width: fit-content;
    align-self: center;
    margin-bottom: 1rem;
    background-color: rgb(73, 155, 221);

    &:hover {
        transition: 1000ms;
        background-color: rgb(116, 183, 238);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.filter-bw {
    filter: invert(100%) sepia(15%) saturate(3941%) hue-rotate(186deg) brightness(113%) contrast(110%);
}